env:
  node: true
  mocha: true
rules:
  no-extra-parens: 2
  no-reserved-keys: 2
  block-scoped-var: 2
  default-case: 2
  guard-for-in: 2
  no-div-regex: 2
  no-eq-null: 2
  no-floating-decimal: 2
  radix: 2
  quotes:
    - 2
    - single
